.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.full-size {
  width: 100%;
  height: 100%;
}
