.details {
  width: 60vw;
  border: 5px solid #d28e28;
  gap: 20px;
  padding: 20px;
}
p {
  text-align: justify;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: medium;
  font-weight: 500;
}
.images-section {
  padding: 20px;
  gap: 10px;
}
.div-img > img {
  object-position: 50% 50%;
  opacity: 1;
  object-fit: contain;
}
.div-img {
  flex-grow: 1;
  width: fit-content;
}
.details-list {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: medium;
  font-weight: 700;
}
.link-list {
  text-align: justify;
}
.link-image {
  width: 25px;
  height: 25px;
}
.back-icon {
  margin: 20px;
}
